@charset "utf-8";
/* CSS Document */

.stepheader{
color: chocolate;
font-family: ff-providence-sans-web-pro, sans-serif;
font-weight: 700;
font-style: normal;
font-size:50px;
text-align: center;
}

.stepbody {
max-width: 60%;
margin-left:300px;
position:relative;
}

.stepphoto {
	width:450px;
	height:450px;
	margin-top:20px;
	position:relative
}

.stepbodytext {
	margin-top:100px;
	position:relative;
}

.previous{background-color:white;
border:solid;
border-color:chocolate;
display:inline-block;
height:60px;
width:150px;
transition-duration:0.5s;
border-radius:10px;}

.previous:hover{
background-color:chocolate
}

.next{background-color:white;
border:solid;
border-color:#789931;
height:60px;
width:150px;
text-aligh:center;
display:inline-block;
border-radius:10px;
}

.next:hover{
background-color:#789931
}

.buttontext{
font-family: ff-providence-sans-web-pro, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
line-height: 35px;}
