@charset "utf-8";
/* CSS Document */

.stepheader{
color: chocolate;
font-family: ff-providence-sans-web-pro, sans-serif;
font-weight: 700;
font-style: normal;
font-size:50px;
text-align: center;
}

.stepbody {
max-width: 60%;
margin-left:300px;
position:relative;
}

.stepphoto {
	width:450px;
	height:450px;
	margin-top:20px;
	position:relative
}

.stepbodytext {
	margin-top:100px;
	position:relative;
}
.stepbuttoncontainer{
margin-top:10px;
	height:10px;
margin-bottom:100px;
position:relative;}

.previous{background-color:#F5F2EE;
border:dashed;
border-color:chocolate;
display:inline-block;
height:60px;
width:150px;
transition-duration:0.5s;
border-radius:10px;
position:absolute;
bottom:5px;
left:200px;
}

.previous:hover{
background-color:chocolate;
	color:white;
}

.next{background-color:#F5F2EE;
border:dashed;
border-color:#789931;
height:60px;
width:150px;
text-aligh:center;
display:inline-block;
border-radius:10px;
transition-duration:0.5s;
position:absolute;
bottom:5px;
right:200px;

}

.next:hover{
background-color:#789931;
	color:white;
}

.buttontext{
font-family: ff-providence-sans-web-pro, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
line-height: 35px;}

.green{color:#789931;
border-color:#789931}

.blue{color:#318499;
border-color:#318499;}

#sidebar {
  border: dashed;
 border-radius:10px;
	border-color:chocolate;
  padding: 15px;
  background-color: #F5F2EE;
	width: 25%;
	max-width: 300px;
	height:550px;
	float:left;
	display:block;
	position:absolute;
	top:200px;
	left:50px;
}

.Navigation {
margin-left:40px;
	margin-top: 30px;
color:chocolate;
font-family: ff-providence-sans-web-pro, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
	line-height: 35px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;}


